.register-logout {
  height: 100%;
  min-height: 500px;
  min-width: 600px;
  display: flex;
  justify-content: space-around;
}
.register-box {
  width: 500px;
  padding: 30px;
  border-radius: 10px;
}
.register-header {
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: rgba(0, 0, 0, 0.88);
  padding-bottom: 30px;
}
.register-header-title {
  font-size: 28px;
  margin-right: 20px;
  font-weight: bold;
}
.register-header-subtitle {
  font-size: 14px;
}
.register-switch {
  display: flex;
  justify-content:center;
  align-items: center;
}
.submit-btn {
  
}
