.user-logout {
  min-height: 100%;
}
.user-info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.user-info {
  display: flex;
  align-items: center;
  padding: 20px;
}
.user-info-avatar {
  background-color: '#87d068'
}
.user-name {
  font-size: 16px;
  line-height: 24px;
}
.user-name-info, .user-name-last-login {
  line-height: 20px;
}
.user-withdraw-btn {
  width: 120px;
  margin-bottom: 10px;
}
.user-balance-red {
  color: red;
}
.user-account-info-row {
  padding: 0 30px;
}
.user-mame {
  line-height: 32px;
  font-size: 18px;
  font-weight: bold;
}
.user-detail-card-line {
  line-height: 32px;
  font-size: 14px;
  display: flex;
}
.add-uncard {
  padding-top: 20px;
}

.user-post {
  display: flex;
  padding: 0 20px;
  margin-top: 5px;
  align-items: center;
  justify-content: space-between;
}
.user-post-title-box {
  width: 100px;
  line-height: 24px;
  font-size: 14px;
}
.user-post-left {
  display: flex;
  align-items: center;
}
.user-post-title-info {
  font-size: 16px;
  font-weight: bold;
}
.user-post-title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
  cursor: pointer;
}
.user-post-info-close {
  cursor: pointer;
  color: gray;
}