.verifiedLogout {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100%;
  min-width: 600px;
}
.title {
  margin-top: 40px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.verifiedBox {
  text-align: center;
  width: 500px;
}
.verifiedTitle {
  font-size: 16px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.8);
}

.personalInfoFormBox {
  
}