.main-header {
  margin-bottom: 2px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
}
.main-layout {
  height: 100%;
}
.main-side-menu {
  height: 100%;
}
.content-layout {
  height: calc(100% - 48px);
}
.main-content {
  height: calc(100% - 24px);
  margin: 12px;
  padding: 12px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  overflow-y: auto;
}
.main-content-bo-padding {
  height: 100%;
  margin: 0;
  padding: 12px;
  border-radius: 6px;
  background: #fff;
  overflow-y: auto;
}
.main-header-logout-btn {
  width: 100px;
  text-align: center;
}
.main-content-sider {
  height: calc(100% - 43px);
  overflow-y: auto;
}